
ion-checkbox::part(container) {
  display: none;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 5px; /* espacio entre checkbox y label */
  margin-top: 10px; /* opcional */
}

.checkbox-label {
  font-size: 14px;
  color: white; /* ajusta si estás en modo oscuro o claro */
}


/* src/Login.css */
.login-container {
  width: 300px; 
  margin: 100px auto; 
  background-color: rgba(44, 62, 80, 0.8); 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}




.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.custom-checkbox {
  --background: red; 
  --border-color: red;
  --checkmark-color: white;
}

.login-button {
  margin-top: 20px;
  background-color: #ffcc00; 
  color: black;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

.social-btn {
  background-color: #ffcc00; 
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 14px;
  color: white;
  user-select: none;
  align-self: center;
}

ion-checkbox {
  display: flex;
  align-items: center;
}

ion-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
